@model IEnumerable<RTMGMTCore2.Models.TopDownProcessedRecords>

@{
    ViewBag.Title = "Index";
}

<h2>Top Down Processed Records</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title"> Top Down Processed Records</h1>
            </div>
            <div class="panel-body">
                <table id="TopDownProcessedRecords-data-table"
                       class="table table-striped table-bordered"
                       style="width:100%">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ReportingId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Title)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReportLevel)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ReportsToId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.RtString)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.EmployeeId)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReportingId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReportLevel)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReportsToId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.RtString)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.EmployeeId)
                                </td>
                                @*<td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {

            $('#TopDownProcessedRecords-data-table').DataTable();

        });
    </script>
    <script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">

}